.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .header__title {
    text-align: center;
    flex-grow: 1;
    font-size: 40px;
    font-family:"Lucida Console";
    color: black;
  }
  
  .header__logout {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }

  .header__logout:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://res.cloudinary.com/do4qwwms8/image/upload/v1626263091/Money%20Manager/money-manager-header_rxlcrn.png');
    background-size: cover;
    height: 100px;
    border-radius: 16px;
    margin-top: 10px;

  }
  
  @media screen and (min-width: 768px) {
    .header-container {
      align-items: flex-start;
      padding: 48px;
    }
  }
  
  .heading {
    color: #475569;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .heading {
      font-size: 30px;
    }
  }
  
  .header-content {
    color: #475569;
    font-family: 'Roboto';
    font-size: 14px;
    margin: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .header-content {
      font-size: 18px;
    }
  }
  
  .money-manager-text {
    color: #0b69ff;
    font-weight: 500;
  }
  