

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* width: 100%; */
  background-color: black;

}

.Header-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000; 
}

.responsive-container {
  flex: 1;
  overflow-y: auto;
  padding-top: 250px;
  width:100%;
  max-width: 550px;
  margin: 0 auto;
  left: 0;
}

@media screen and (min-width:768px) {
  .responsive-container {
    max-width: 1140px;
  }
} *


.transaction-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
    margin-bottom: 24px;
    box-sizing: border-box;

  }
  
  @media screen and (min-width: 768px) {
    .transaction-details {
      flex-direction: row;
    }
  }
  
  .transaction-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 424px;
    width: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    padding-top: 24px;
    padding-right: 24px; 
    padding-left: 24px; 
    padding-bottom: 32px;
    background-color: #f0f0f0;
  }
  
  @media screen and (min-width: 768px) {
    .transaction-form {    
      width: 40%;
      padding-right: 43px;
      padding-left: 48px;
    }
  }
  
  .transaction-header {
    color: #475569;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
  }
  
  @media screen and (min-width: 768px) {
    .transaction-header {
      font-size: 20px;
    }
  }
  
  .input-label {
    color: #7e858e;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 0px;
  }
  
  .input {
    color: #1e293b;
    background-color: #ffffff;
    font-family: 'Roboto';
    border: 1px solid #d7dfe9;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 157px;
  }
  
  .button {
    background-color: #0b69ff;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
    min-width: 25px;
    border-radius: 6px;
    border: none;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  button:hover {
    background-color: #adc0cd;
  }

  